@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "lato", sans-serif;
    color: #a5a5a5;
    background-image: url('img1.jpg');
}

.logo {
    color: White;

}

.navbar {
    position: fixed;
    top: 0;
    color: transparent;
}

.navbar-brand {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 750;
    letter-spacing: 2px;


}

.navbar ul.nav {
    margin-right: 15%;

}

.navbar ul.nav li.active,
.navbar ul.nav li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

.navbar ul.nav li.active a {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    font-family: cursive;

}

.navbar ul.nav li.active a,
.navbar ul.nav li:hover a {
    color: #000;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))url(img1.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text p {
    font-family: "lato", sans-serif;
    color: #fff;
}

.banner-btn a {
    border: 1px solid #fff;
    border-radius: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
}

.icob-bar {
    color: white;
}



/*search nav bar*/
.label {
    font-size: 20px;
    font-weight: normal;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-group-addon {
    background: transparent !important;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    font-size: 18px;
    color: gray;

}

.form-control {
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid gray;
    padding: 15px;
    color: white;
    font-size: 21px;
}

input[type="checkbox"] {
    height: 15px;
    width: 15px;
}

small {
    font-size: 18px;
    color: white;
}

p {
    font-size: 18px;
    color: white;

}

.btn-default {
    border-radius: 0px;
    width: 457;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.btn-search {
    background-color: black !important;
}

h2 {
    font-size: 30px;
}

body {
    font-family: "Lato", sans-serif;
}

.nav {
    padding: 10px;
    background: transparent !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.card {
    margin-top: 2px;
    background-color: transparent;

}

.card-img-top {
    height: 200px;
    width: 200px;
}

.uploadscard {
    margin-top: 50px;
    font-size: 10px;
}

/* new music page */
